html {
  min-height: 100%; margin:0; padding:0;
}

body {
  margin:0px;
  color:#111111;
  height:100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url('../img/sitebg.jpg');
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size:large;
  line-height:1.8;
}

A:link {text-decoration:none; color:#008688; }
A:visited {text-decoration:none; color:#008688; }
A:active {text-decoration:none; color:#008688; }
A:hover {text-decoration:underline; color:#00989a; }

#contentdiv { 
  position:relative;
  background-image: url('../img/contbg.png'); 
  width:90%; height:90%; min-height:80vh; min-width:300px;
  margin:3% 4% 7% 3%; 
  padding:10px; border-radius:5px;
  /* border:1px solid #080036; */
  box-shadow:3px 3px 1px #888888;
}

#headingdiv {}
#logodiv { float:left; padding-right:5px; }
#logoimg { width:80px; height:80px; }
#titlediv { font-size:xx-large; font-weight:bold; }
#descripdiv { clear:both; font-size:medium; padding:5px; 
  background-image: url('../img/wt30p.png'); }
#contseldiv { font-size:large; font-weight:bold; }
#headtextdiv { display:table-cell; }
#devdiv { padding-left:20px; text-align:right; font-size:x-large; }
#biznamediv { padding-left:20px; font-size:large; }
.pointsul { list-style:square; list-style-image: url('../img/bluebull.png');
  margin:0px; }
.pointsul li { padding:5px; }
.pt { font-size:large; font-style:italic; }
.pd { font-size:large; padding:5px 0px; }
.pm { font-size:medium; display:none; 
      background-image: url('../img/wt30p.png'); }
.morelink { font-size:small; background-image: url('../img/wt30p.png'); }
#actinformdiv { font-style:italic; font-size:medium; }
#actinformdiv p { margin:5px 0px; }
#actinformdiv p a { line-height:2.5em; }
#actinformdiv button { border: 2px solid #007274; border-radius:10px; 
  cursor:pointer; background:#c0f1f2; box-shadow:1px 1px 1px #2f2b00;
  font-size:medium; font-weight:bold; margin-left:20px; }


.dcrspan { padding:0px 5px; vertical-align:middle; }
.dcrspan a { line-height:2.2em; }
#dcorgspan { font-size:medium; }
.refimg { max-height:20px; max-width:20px; }

#newsdiv { margin-left:-12px; }
#biopic { float:left; max-width:180px; margin-right:10px; }
#reslinkdiv { font-size:small; font-style:italic; }
